<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #333;
        }
    </style>



    <!-- BST CSS-->
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    @Html.Partial("_defHeader")




    <!-- Content -->
    @RenderBody()





    <!-- Footer -->
    @Html.Partial("_defFooter")



    <!-- BST JS-->
    <script src="~/bootstrap/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3948859f93.js" crossorigin="anonymous"></script>
</body>

</html>